<style>
    .task_card_custom {
        cursor: pointer;
        box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.075) !important;
        width: 300px;
        transition: 0.4s ease-in;
    }
    .task_card_custom:active {
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) !important;
    }
    .tab-button {
        color: #0f5132;
        background: white;
        padding: 10px;
    }
    .tab-button-active {
        color: white;
        background: #198754;
        padding: 10px;
    }
    .tab-button:focus {
        background-color: #198754;
        color: white;
    }
</style>
<script>
    const url = window.location.search;
    const params = new URLSearchParams(url);
    var username1 = params.get('show');
    console.log(username1)
</script>

{% extends 'base.html' %} {% block content %}
<div class="mt-2 p-3">
    <div class="p-2 d-flex flex-row gap-3 w-100 justify-content-center">
        {% if tt == "task" %}
        <button class="tab-button-active" onclick="window.location.href='/calendar/view/task/'">Calendar</button>
        {% else %}
        <button class="tab-button" onclick="window.location.href='/calendar/view/task/'">Calendar</button>
        {% endif %} {% if tt == "service" %}
        <button class="tab-button-active" onclick="window.location.href='/calendar/view/service/'">Services</button>
        {% else %}
        <button class="tab-button" onclick="window.location.href='/calendar/view/service/'">Services</button>
        {% endif %}
        {% if tt == "new" %}
        <button class="tab-button" onclick="window.location.href='/calendar/event/new/'">New Event</button>
        {% else %}
    <button class="tab-button" onclick="window.location.href='/calendar/event/new/'">New Event</button>
        {% endif %}
        
    </div>
    <div class="d-flex flex-column gap-2 align-items-center p-1">
        {% for datas in data %}
        <div
            class="p-2"
            onclick="window.location.href='/view/task/{{datas.id}}/'"
        >
            <div
                class="d-flex flex-column gap-2 rounded border border-light p-3 task_card_custom align-items-center justify-content-center"
            >
                <div class="d-flex flex-row gap-3 w-100">
                    {% if datas.completed == "accepted" %}
                    <div class="uncompleted text-info h5 float-left">
                        <i class="bi bi-circle-fill"></i>
                    </div>
                    {% else %} {% if datas.completed == "false" %}
                    <div class="uncompleted text-success h5 float-left">
                        <i class="bi bi-circle"></i>
                    </div>
                    {% else %}
                    <div class="completed text-success h5 float-left">
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                    {% endif %} {% endif %}
                    <p class="h6 text-dark">{{datas.task}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
