<style>
	.task_card_custom {
		cursor: pointer;
		box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.075) !important;
		transition: 0.4s ease-in;
	}
	.buttonbtn {
	    border: 1px solid #0d6efd;
	    background-color: transparent;
	    padding: 15px;
	    border-style: dashed;
	    border-radius: 10px;
	    color: #df510d;
	    margin:10px;
	    transition: .1s all;
	    box-shadow: inset 0px -4px 0px 0px #0d6efd;
	}
	.buttonbtn-green {
	    border: 1px solid green;
	    background-color: transparent;
	    padding: 15px;
	    border-style: dashed;
	    border-radius: 10px;
	    transition: .1s all;
	    box-shadow: inset 0px -4px 0px 0px green;
	}
	.buttonbtn-green:active {
	   box-shadow: inset 0px -1px 0px 0px green;
	    color: green
	}
	.buttonbtn-info {
	    border: 1px solid #0dcaf0;
	    background-color: transparent;
	    padding: 15px;
	    border-style: dashed;
	    border-radius: 10px;
	    transition: .1s all;
	    box-shadow: inset 0px -4px 0px 0px #0dcaf0;
	}
	.buttonbtn-info:active {
	   box-shadow: inset 0px -1px 0px 0px #0dcaf0;
	}
	.buttonbtn:active {
	    box-shadow: inset 0px -1px 0px 0px #0d6efd;
	    color: blue
	}
</style>

{% extends 'base.html' %} {% block content %}
<div class="mt-2 p-3">
	<div class="d-flex flex-column gap-2 align-items-center p-1">
		<div class="p-2">
			<div
				class="d-flex flex-column gap-2 rounded border border-light p-3 task_card_custom align-items-center justify-content-center"
			>
				<div class="d-flex flex-column gap-3 w-100 align-items-center">
					<p class="h5 text-dark">{{data.task}}</p>
					<div class="d-flex flex-column p-2 gap-3 align-items-start w-100">
						{% if data.notes|length > 2 %}
						<p class="h6 text-primary">Notes: {{data.notes}}</p>
						{% endif %} {% if data.date|length > 2 %}
						<p class="h6 text-dark">Due Date: {{data.date}}</p>
						{% endif %} {% if data.contact_number|length > 2 %}
						<p class="h6 text-secondary">Contact: {{data.contact_number}}</p>
						{% endif %} {% if data.completed == 'true' %}
						<p class="h6 text-success">Task Completed</p>
						{% else %}
						<p class="h6 text-warning">In Completed Task</p>
						{% endif %} {% if data.completed == 'true' %}
						<div class="d-flex flex-row gap-1 w-100 h-50">
							<button class="buttonbtn">
								<i class="bi bi-clock-history"></i> Payments History
							</button>
							<button class="buttonbtn">
								<i class="bi bi-wallet-fill"></i> Make Payment
							</button>
						</div>
						{% elif data.completed == 'false' %}
						<button class="buttonbtn-green" onclick="window.location.href='/calander/task/accept/{{data.id}}/'"> <i class="bi bi-patch-check"></i>  Accept Task</button>
							{% elif data.completed == 'accepted' %}
						<button class="buttonbtn-info" onclick="alert('Task in Progress')"> <i class="bi bi-patch-check"></i>  Add Task Progress</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
