{% load static %}
{% static "js" as baseUrl %}
{% static "css" as baseUrl %}
<!DOCTYPE html>

<html lang="en">
	{% load pwa %} {% progressive_web_app_meta %}
	<head>
		<link rel="shortcut icon" href="{% static 'images/logo112.ico' %}" type="image/x-icon">	
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
			integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
			integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
			crossorigin="anonymous"
		></script>
		<title>Invoice Application</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
		/>
		<link href="{% static 'css/stylesheet.css' %}" />
	</head>
	<body style="height: 100vh">
		<nav class="navbar navbar-expand-lg position-sticky top-0" style="background-color:#21263C; color: #BBD0DF">
			<div class="container-fluid">
				<a class="navbar-brand text-white" href="#">Rukshana Computers</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link text-white active" href="/"><i class="bi bi-columns-gap"></i> Home</a>
						<a class="nav-link text-white" accesskey="c"  href="/create/"><i class="bi bi-receipt"></i> Create Invoice</a>
						<a class="nav-link text-white" accesskey="q" href="/create/product/view/"><i class="bi bi-diagram-2"></i> Products</a>
						<a class="nav-link text-white" accesskey="Z" href="/reports/view/"><i class="bi bi-card-checklist"></i> Reports</a>
						<a class="nav-link text-white" accesskey="s" href="/costumers/view/"><i class="bi bi-person-video2"></i> Costumers</a>
						<a class="nav-link text-white" href="/expenses/dashboard/" accesskey="e" onmouseover="show_menu_expenses()"><i class="bi bi-arrows-angle-expand"></i> Expenses</a>
						<a class="nav-link text-white" href="/admin"><i class="bi bi-person-circle"></i> Admin Panel</a>
					</div>
				</div>
			</div>
		</nav>
		{% block content %} {% endblock %}
	</body>
		<script src="{% static 'js/script.js' %}"></script>

</html>
