{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-column gap-2 align-content-center mt-4 p-3">
    <button class="btn btn-info"
        onclick="window.open('/create/costumer/', 'Abipravi Billing Softwares', 'width=400,height=600')">
        Create Customer
    </button>
	<table class="table-sm table-bordered table-responsive-sm shadow-sm">
		<thead class="bg-dark">
			<tr class="text-white fs-7">
				<th>Customer Name</th>
				<th>Contact</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data1 %}
			<tr>
				<td>
                    <a href="/costumerdetail/{{item.id}}/">{{item.costumer_name}}</a>
                </td>
				<td>{{item.contact}}</td>
				<td>
					<button
						onclick="window.location.href='/costumers/delete/{{item.id}}/'"
						class="btn btn-danger bi bi-trash2"
					></button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
