{% extends 'base.html' %} {% block content %}
<div class="d-flex p-3 flex-column flex-wrap gap-2 mt-3">
	<form action="/searchinvoice/" method="POST">
		{% csrf_token %}
		<input
			type="text"
			class="p-1 bg-info bg-opacity-10 border border-info border-start-0 border-end-0"
			name="invoiceid"
			placeholder="Search Invoice using Invoice Number"
		/>
		<input type="submit" class="btn btn-outline-primary" value="Search" />
	</form>
	<table class="table-sm table-bordered table-responsive-sm shadow-sm">
		<thead class="bg-dark">
			<tr class="text-white fs-7">
				<th>Invoice Number</th>
				<th>Customer Name</th>
				<!-- <th>Paid Ammount</th> -->
				<!-- <th>Remaning Balance</th> -->
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			{% for bills in data %}
			<tr>
				<td class="h6">
					<a
						class="btn btn-link btn-sm w-100"
						href="/detail/{{ bills.billnumber }}"
					>
						{{bills.billnumber}}</a
					>
				</td>
				{% if bills.costumer_name|length > 2 %}
				<td>{{bills.costumer_name}}</td>
				{% else %}
				<td class="text-danger">POS</td>
				{% endif %}
				<!-- <td>{{bills.ammountpaid}}</td> -->
				<!-- <td>{{bills.balance}}</td> -->
				<td>{{bills.due_date}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div
	style="
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #21263c;
	"
	class="p-2 shadow-sm d-flex flex-row gap-4"
>
	<p class="text-white rounded p-1 bg-danger">
		Total Sale: Rs. {{ totalammount }}
	</p>
	<p class="text-white p-1">Total Paid: Rs. {{ paid }}</p>
	<p class="text-success bg-white rounded p-1">
		Ammount Pending: Rs. {{ overall }}
	</p>
</div>
{% endblock %}
