{% extends 'base.html' %} {% block content %}
<a
	href="/createinvoice/{{uid}}/"
	class="mt-4 mx-3 btn btn-primary"
	accesskey="c"
	>Generate Invoice
</a>
<a
	href="/estimations/{{uid}}/"
	class="mt-4 mx-3 btn btn-info"
	accesskey="c"
	>✔ Mark as Estimation
</a>
<div
	class="offcanvas offcanvas-start"
	data-bs-backdrop="static"
	tabindex="-1"
	id="staticBackdrop"
	aria-labelledby="staticBackdropLabel"
>
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="staticBackdropLabel">Products &nbsp;</h5>
		<div class="form-group">
			<input
				type="text"
				class="form-control"
				name="search"
				placeholder="Search"
				id="search_products_field"
				onkeyup="callSearchfunction()"
			/>
		</div>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="offcanvas"
			aria-label="Close"
		></button>
	</div>
	<div class="offcanvas-body">
		<div class="p-1" id="app_table">
			<table class="table table-bordered table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<td>Product Name</td>
						<td>Price</td>
						<td>Select</td>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
					<tr>
						<td>{{product.product_name}}</td>
						<td>{{product.product_price}}</td>
						<td>
							<button
								class="btn btn-outline-primary"
								id="{{product.product_name}} + {{product.product_price}} + {{product.gst}}"
								onclick="setfields(id)"
								data-bs-dismiss="offcanvas"
								aria-label="Close"
							>
								<i class="bi bi-check-all"></i>
							</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="search_table" class="p-1" style="display: none">
			<table class="table table-bordered table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<td>Product Name</td>
						<td>Price</td>
						<td>Select</td>
					</tr>
				</thead>
				<tbody id="search_table_tbody">
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<form method="POST" autocomplete="off">
	{% csrf_token %}
	<div class="d-flex flex-row flex-wrap gap-3 p-3">
		<input
			type="text"
			class="form-control w-auto"
			value="{{uid}}"
			name="uid"
			placeholder="Enter random Bill Number"
		/>
		<input
			class="form-control w-auto"
			type="text"
			placeholder="Product Name"
			name="item"
			id="productfield"
			data-bs-toggle="offcanvas"
			data-bs-target="#staticBackdrop"
			aria-controls="staticBackdrop"
		/>
		<input
			class="form-control w-auto"
			type="number"
			id="pricefield"
			placeholder="Ammount"
			name="price"
		/>
		<input
			class="form-control w-auto"
			type="text"
			id="gstfield"
			placeholder="GST %"
			name="gst"
		/>
		<input
			class="form-control w-auto"
			type="number"
			id="qtyfield"
			name="qty"
			onchange="totalammountff()"
			required
			placeholder="Quantity"
		/>
		<input
			class="form-control w-auto"
			id="totalfield"
			type="number"
			placeholder="Grand Total"
			name="totalammount"
			required
		/>
		<button class="btn btn-outline-primary">+</button>
	</div>
</form>
<div class="p-3">
	<table class="table table-bordered table-striped w-25">
		<thead class="table-dark">
			<tr>
				<td>Product</td>
				<td>Quantity</td>
				<td>Total</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
			{% for item in datas %}
			<tr>
				<td>{{item.item}}</td>
				<td>{{item.qty}}</td>
				<td>{{item.totalammount}}</td>
				<td>
					<a
						href="/delete/item/onbill/{{item.id}}/{{uid}}/"
						class="btn btn-danger"
						>X</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
